{%extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        {%block content%}
            <table class="table table-bordered text-center text-white bg-warning">
                <thead>
                    <th>NAME</th>
                    <th>DURATION</th>
                    <th>FEES</th>
                    <th>TRAINERS</th>
                </thead>
                <tbody>
            {%for c in cr%}
                    <tr>
                        <td>{{c.cname}}</td>
                        <td>{{c.duration}}</td>
                        <td>{{c.fees}}</td>
                        <td>
                            {%for t in c.trainers.all %}
                                {{t.tname}} {{t.qualification}}
                                {{t.languages}}
                            {%endfor%}
                        </td>
                    </tr>
            {%endfor%}
        </tbody>
        </table>
        {%endblock%}
    </body>
</html>